* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.tamanhoMobile {
    width: 414px;
    background: #E5E5E5;
}

header, footer {
    height: 92px;
    width: 414px;
}

header {
    color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 414px;
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}

header h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.margemPosFixos {
    margin-top: 123px;
    margin-bottom: 108px;

}

footer {
    position: fixed;
    bottom: 0;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    align-items: center;
    background: #FFFFFF;
}

.containerPratos {
    margin-left: 19px;
    margin-bottom: 27px;
}

.containerPratos h1 {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-bottom: 10px;
}

.pratos {
    display: flex;
    overflow-x: hidden;
}

.prato {
    width: 172px;
    height: 216px;
    background: #FFFFFF;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

}


.prato img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 0 14px;
    margin-top: 18px;
    margin-bottom: 8px;
}

.prato h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.prato h3 {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin: 4px 0;
}

.prato p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.prato div {
    margin-left: 14px;
}

footer {
    align-items: center;
}

.fecharPedido {
    margin: auto;
    margin-top: 23px;
    margin-bottom: 16px;
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    align-items: center;
}